---
import OrgLayout from '../../layouts/OrgLayout.astro';
import CreateAchievementForm from '../../components/org/CreateAchievementForm';
---

<OrgLayout title="Organization - Achievements" activeTab="achievements">
  <div className="container py-4">
    <CreateAchievementForm client:load />
  </div>
</OrgLayout>
