$c-white: #fff;
$c-blue-dark: #1b1e22;
$c-blue-bg: #22282f;
$c-blue-help: #6c757d; // neutral gray
$c-blue-light: #dee2e6; // neutral light text
$c-blue-discord: #5865f2;
$c-blue: $c-blue-discord;
$c-purple: #8430ce;
$c-yellow: #e5ea11;
$c-gray: $c-blue-help;
$c-text-gray: #adb5bd;