
.home {
    &-header {
        font-size: 1.8rem;
        line-height: 2.5rem;
        overflow: hidden;
        word-break: break-word;

        @media #{$breakpoint-desktop} {
            font-size: 2rem;
        }

        @media (min-width: 500px) {
            font-size: 2.5rem;
            line-height: 3.5rem;
        }
    }

    &-actions{
        display: flex;
        gap: 1.5rem;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 3rem;

        @media #{$breakpoint-desktop} {
            gap: 2rem;
        }

        & > .button {
            width: auto;
        }
    }
}
