@use "sass:color";
@import "colors.scss";

$primary: $c-purple;
$secondary: $c-gray;

@import "bootstrap/scss/bootstrap";
// local
@import "variables.scss";
@import "menu.scss";
@import "header.scss";
@import "home-header.scss";
@import "box.scss";


body {
    color: $text;
    background-color: $background;
    font-family: Helvetica, Sans-Serif;
}

.form-control::placeholder {
    color: $blue-help;
    opacity: 1;
    /* Firefox */
}

.secondary-color {
    color: $c-blue-discord;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include main-font;
}

.monospace {
    @include main-font;
}

.button {
    @include main-font;
    display: inline-flex;
    padding: 0.5rem 1rem;
    gap: 0.75rem;
    align-items: center;

    border-radius: $radius;
    border: none;
    cursor: pointer;
    justify-content: center;
    color: white;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: bold;
    text-decoration: none;

    transition: all 300ms;

    &:hover {
        text-shadow: rgba(0, 0, 0, .5) 1px 2px 2px;
    }

    &.big {
        font-size: 1rem;
        padding: 0.75rem 1.25rem;
    }



    @include media-breakpoint-up(sm) {
        font-size: 1rem;
        padding: 0.75rem 1.25rem;

        &.small {
            font-size: 0.875rem;
            padding: 0.5rem 1rem;
        }
    }
}

.light {
    background-color: $c-gray;

    &:hover {
        background-color: color.change($c-gray, $alpha: 0.8);
    }
}

.blue {
    background-color: $c-blue;

    &:hover {
        background-color: color.change($c-blue, $alpha: 0.8);
    }
}

.purple {
    background-color: $c-purple;

    &:hover {
        background-color: color.change($c-purple, $alpha: 0.8);
    }
}

a {
    color: $text;

    &:not(.button):hover {
        color: color.scale($c-blue-light, $lightness: -15%);
    }
}

.accommodation-features {
    padding-inline-start: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: $blue-help;

    @include media-breakpoint-up(sm) {
        line-height: 1.5rem;
    }
}

.container.main-container {
    flex-grow: 1;
    @media (min-width: 1440px) {
        max-width: 1440px;
    }

    @media (min-width: 1200px) {
        max-width: 1440px;
    }

    @media (min-width: 992px) {
        max-width: 1440px;
    }
}

.footer {
    padding: 1.25rem 0;
    background-color: $blue-dark;
    color: $blue-help;
    font-size: 1rem;
    line-height: 1.5rem;
}

.footer-container {
  padding-top: 3rem;
}

.background-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(4px);

    &-inner {
        width: 100%;
        height: 100%;
        background-image: url('/assets/svg/pattern.svg');
        background-position: 50% 0;

        background-repeat: no-repeat;
    }
}

#schedule {
    .day {
        border-radius: calc(#{$radius} / 2);
        background-color: $c-blue-bg;
        padding: 0.5rem;
        min-height: 8rem;

        transition: all 300ms;

        &:hover {
            .date {
                border-color: $c-yellow;
            }
        }

        .date {
            font-weight: bold;
            text-align: center;
            border-bottom: $c-blue 2px solid;
            font-size: 1.2rem;
        }

        ul {
            padding: 0.5rem 0.75rem;
            margin: 0;


            li {
                list-style-type: none;
            }
        }
    }
}

.socials {
    font-size: 2em;
}

.desktop-visible {
    display: none;
}

.desktop-invisible {
    display: initial;
}

.logo-playground-container {
    border: solid 2px $text;
}

.logo-playground {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.logo-playground-text {
    font-size: 40pt;
}

@include media-breakpoint-up(sm) {
    .logo-playground {
        min-height: 480px;
    }

    .desktop-visible {
        display: initial;
    }

    .desktop-invisible {
        display: none;
    }
}
