@use 'colors.scss';

$background: var(--blue-bg);
$text: var(--blue-light);
$purple: var(--purple);
$blue: var(--blue-discord);
$blue-bg: var(--blue-bg);
$blue-dark: var(--blue-dark);
$blue-help: var(--blue-help);
$blue-light: var(--blue-light);
$white: var(--white);
$gray: var(--blue-help);
$header-container-padding-v: 0.75rem;
$header-container-padding-h: 1.5rem;


$radius: 2rem;

@mixin main-font {
	font-family: "JetBrains Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
}

:root {
	--white: #{colors.$c-white};
	--blue-dark: #{colors.$c-blue-dark};
	--blue-bg: #{colors.$c-blue-bg};
	--blue-help: #{colors.$c-blue-help};
	--blue-light: #{colors.$c-blue-light};
	--blue-discord: #{colors.$c-blue-discord};
	--purple: #{colors.$c-purple};
	--yellow: #{colors.$c-yellow};
	--gray-text: #{colors.$c-text-gray};
}
