---
import Default from '../layouts/Default.astro';
import LogoPlayground from '../components/LogoPlayground';
---

<Default title="Design" activeId="design">
  <div class="row mt-4">
    <div class="col-md-8 offset-md-2">
      <div class="box">
        <h3>Garage Design Language (Hints)</h3>
        <p>
          The design aims to be very easy to follow and not impose obstacles or constraints on the
          users.
        </p>
        <ul>
          <li>
            Fonts
            <ul>
              <li>
                Main font (used for the logo and headlines) is <a
                  href="https://fonts.google.com/specimen/JetBrains+Mono?preview.text=Garage%20trip"
                  target="_blank">JetBrains Mono ExtraBold 800</a
                >, which is widely available (e.g. Google Fonts, Google Slides)
              </li>
              <li>Secondary font (used for text blocks) is Helvetica (Sans Serif)</li>
            </ul>
          </li>
          <li>Prefer lowercase</li>
          <li>
            Colors:
            <ul>
              <li>
                The primary color is <span class="monospace">#fff</span> (on dark backgrounds or <span
                  class="monospace">#1b1e22</span
                > for light backgrounds)
              </li>
              <li>
                The secondary color is <span class="monospace secondary-color">#5865f2</span> (irrespective
                of the background)
              </li>
            </ul>
          </li>
          <li>
            The logo for Garage as the whole organization is <span class="monospace"
              >garage::<span class="secondary-color">✳</span></span
            > or the short version <span class="monospace"
              >g::<span class="secondary-color">✳</span></span
            >
          </li>
          <li>
            The asterisk may stand for anything and the concept supports nesting like this: <span
              class="monospace"
              >garage::<span class="secondary-color">trip</span>::<span class="secondary-color"
                >x.y</span
              >::<span class="secondary-color">night_game</span></span
            >
          </li>
          <li>
            Avoid syntax errors, end expressions with <span class="monospace">;</span>
          </li>
          <li>
            When you need to split words prefer snakes <span class="monospace">_</span> and when you
            need to separate something use <span class="monospace">/</span>
          </li>
          <li>
            Use line breaks after <span class="monospace">::</span> when things get too long <br /><span
              class="monospace"
              >garage::<span class="secondary-color">trip</span>::<br /><span
                class="secondary-color">x.y</span
              >::<span class="secondary-color">night_game</span></span
            >
          </li>
          <li>Be creative and playful but do not overcomplicate</li>
          <li>
            Emojis are super welcome <span class="monospace">g::🔥</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-8 offset-md-2">
      <div class="box">
        <h3>Resources</h3>
        <ul>
          <li>
            <a
              href="https://docs.google.com/presentation/d/1Cm_KWInnyV86G7I_4w1Ueo-Px63Xb5r58KDItzxzHTk/edit?usp=sharing"
              target="_blank">Google Slides template</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-8 offset-md-2">
      <div class="box">
        <h3>Playground</h3>
        <p class="desktop-visible">
          Edit the logo as you need (directly in the box) and then capture screenshot using your OS
          or browser inspect and capture node screenshot feature on <span class="monospace"
            >.logo-playground</span
          > element.
        </p>
        <p class="desktop-invisible">
          I am pretty sure this device is too small to have inspect mode. So no play time for you.
          🥦
        </p>
        <LogoPlayground client:visible />
      </div>
    </div>
  </div>
</Default>
