---
import Default from '../layouts/Default.astro';
import ButtonLink from '../components/ButtonLink.astro';
import TextScramble from '../components/TextScramble/TextScramble';
import ImagesCarousel from '@/components/carousel/ImagesCarousel.astro';
import Calendar from '@/components/calendar/Calendar.astro';

const phrases = [
  'Licensed to Code.',
  '007, reporting for duty.',
  'A Knight of the Seven Nerdoms.',
  'The age of 6 is over, the time of the 7 has come.',
  'I rolled a 7... the Demogorgon!',
  'Seven Sins, No Regrets.',
  'The Seventh Wonder.',
  'Eve and 7 dwarfs.',
  'Liquid luck.',
  'Lucky seven.',
];
---

<Default title="Event 7.0.0" activeId="home">
  <div class="container" style="padding: 5rem 0">
    <div class="row text-center">
      <h1 class="mb-3 home-header">
        garage::<span class="secondary-color">trip</span>::<span class="secondary-color"
          >7.0.0</span
        >
      </h1>
      <TextScramble phrases={phrases} client:load />
    </div>

    <div class="home-actions">
      <ButtonLink
        url="/register"
        text="join the event"
        icon="event"
        variant="purple"
        size="big"
        target="_self"
      />
      <ButtonLink
        url="https://discord.com/invite/TnaMJMyTDw"
        text="join our Discord"
        icon="discord"
        variant="blue"
        size="big"
      />
    </div>
  </div>

  <div class="row gy-3 mb-4">
    <div class="col-lg-4">
      <div class="box info-box">
        <div class="info-box-inner">
          <h3>save the date;</h3>
          <p class="subtitle">12&nbsp;&ndash;&nbsp;19&nbsp;/&nbsp;9&nbsp;/&nbsp;2026</p>
          <div style="position: absolute; width: 100%;">
            <Calendar startDate="2026-09-12" endDate="2026-09-19" />
          </div>
          <div class="info-box-inner-footer">
            <ButtonLink
              url="https://evt.to/7055f4tvpvlh"
              text="add to calendar"
              icon="google-calendar"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="box info-box">
        <img
          class="info-box-bg illu-location"
          src="/assets/svg/illu-location.svg"
          width="384"
          height="224"
        />
        <div class="info-box-inner">
          <h3>location;</h3>
          <p class="subtitle">
            Chalupa Nový Svět<br />
            Prostřední Lipka 74<br />
            Králíky, Orlické hory
          </p>
          <div class="info-box-inner-footer">
            <ButtonLink
              url="https://maps.app.goo.gl/zRF3NoHsnYzASQaR9"
              text="Google Maps"
              icon="google-maps"
            />
            <ButtonLink url="https://mapy.cz/s/mejeturodo" text="Mapy.com" icon="mapy-cz" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="box info-box">
        <img
          class="info-box-bg illu-sauna"
          src="/assets/svg/illu-sauna.svg"
          width="256"
          height="225"
        />
        <div class="info-box-inner">
          <h3>accommodation;</h3>
          <p class="subtitle">Cottage "Novy Svet"</p>
          <ul class="accommodation-features">
            <li>32 beds | 14 rooms</li>
            <li>14 000 m<sup>2</sup> garden with pond and outdoor playground</li>
            <li>Ton of seating</li>
            <li>Grill, 4 taps and a Sauna</li>
            <li>Two-story children's corner</li>
          </ul>
          <div class="info-box-inner-footer">
            <ButtonLink
              url="https://www.novysvetlipka.cz/ubytovani-chalupa-novy-svet-prostredni-lipka-orlicke-hory.html"
              text="more information"
              icon="website"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <div class="box">
        <h3>invitation;</h3>
        <ul>
          <li>
            <strong>Major version update</strong>: from <a href="/history" target="_blank">six</a>{' '}
            to seven ... 6🤷7
          </li>
          <li>
            <strong>Legacy Support</strong>: All your favorite friends and puzzles remain fully
            compatible.
          </li>
          <li>
            <strong>Multi-generational Mode</strong>: The kid-friendly plugin is still enabled.
          </li>
          <li>
            <strong>Performance Tweak</strong>: Optimized for maximum nerdy joy and minimum sleep.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <div class="box">
        <h3>feedback;</h3>
        <div class="row gy-3">
          <div class="col-lg-4">
            <div class="comment-box p-3"><em>Nerdvana.</em></div>
          </div>
          <div class="col-lg-4">
            <div class="comment-box p-3"><em>The highlight of the year.</em></div>
          </div>
          <div class="col-lg-4">
            <div class="comment-box p-3"><em>Never attended an event like this before.</em></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <div class="box images position-relative">
        <h3>images;</h3>
        <ImagesCarousel />
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <div class="box" id="schedule">
        <h3>schedule;</h3>
        <p class="mb-4">
          <em>
            This schedule is preliminary.<br />
            We invite everyone to join the schedule creation with their ideas! If you have something
            in mind, please contact the orgs team.<br />
            The schedule will contain 3 main categories of activities to accommodate everyone: main
            activities (listed in the schedule), sync side activities, async side activities and of
            course plenty of chill and party activities.
          </em>
        </p>
        <div class="row gy-3">
          <div class="col-md-3">
            <div class="day">
              <div class="date">12.9 Sat</div>
              <div class="content"><ul><li>Arrival</li><li>Welcome BBQ</li></ul></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="day">
              <div class="date">13.9 Sun</div>
              <div class="content"><ul><li>Puzzle hunt</li></ul></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="day">
              <div class="date">14.9 Mon</div>
              <div class="content"><ul><li>Board games</li></ul></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="day">
              <div class="date">15.9 Tue</div>
              <div class="content"><ul><li>AI coding</li></ul></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="day">
              <div class="date">16.9 Wed</div>
              <div class="content"><ul><li>AI coding</li></ul></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="day">
              <div class="date">17.9 Thu</div>
              <div class="content"><ul><li>Barcamp</li></ul></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="day">
              <div class="date">18.9 Fri</div>
              <div class="content"><ul><li>Free day</li></ul></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="day">
              <div class="date">19.9 Sat</div>
              <div class="content"><ul><li>Leaving</li></ul></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4 text-center socials">
    <a href="https://mastodon.social/@garagetrip"><i class="bi bi-mastodon"></i></a>
  </div>

  <div
    class="modal fade"
    id="imageModal"
    tabindex="-1"
    aria-labelledby="imageModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body position-relative p-0">
          <button id="modalPrevBtn" class="modal-nav-btn modal-nav-btn--prev" aria-label="Previous image">
            <i class="bi bi-chevron-left"></i>
          </button>
          <img src="" id="modalImage" class="img-fluid" />
          <button id="modalNextBtn" class="modal-nav-btn modal-nav-btn--next" aria-label="Next image">
            <i class="bi bi-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</Default>
